.morgan-hero {
	position: relative;
	z-index: 10;
	width: 100%;
	height: 100vh;
	min-height: 600px;
	overflow: hidden;

	&__info {
		position: absolute;
		top: 100px;
		left: 50%;
		z-index: 15;
		text-align: center;
		transform: translateX(-50%);

		._overflow {
			overflow: hidden;
		}
	}

	&__video {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
		// width: 100%;
		min-width: 100%;
		// height: 100%;
		min-height: 100%;
		line-height: 1.2;
		transform: translate(-50%, -50%);
		transition: 1s opacity;
	}

	&__title {
		margin: 0;
		color: $color-white;
		font-weight: 100;
		font-size: rem(100px);
		font-family: $main-font-family;
		text-align: center;

		span {
			font-weight: 800;
		}
	}

	&__button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 300px;
		margin-top: 60px;
		padding: 16px 35px;
		color: $color-white;
		font-weight: 800;
		font-size: 2rem;
		font-family: $main-font-family;
		border: 2px solid $color-white;
		border-radius: 3px;
		cursor: pointer;
		transition: color 0.3s, background-color 0.3s, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.5s ease-in-out;

		.icon-down-arrow {
			width: 40px;
			height: 40px;
			fill: $color-white;
		}

		&._active {
			transform: translateY(-100%);
			visibility: hidden;
			opacity: 0;
		}

		&:hover {
			color: $color-green;
			background-color: $color-white;
		}
	}
}
