.morgan-hero {
	position: relative;
	z-index: 10;
	width: 100%;
	height: 100vh;
	min-height: 600px;
	overflow: hidden;

	&__mobile-block {
		display: none;

		@include _767 {
			display: block;
		}
	}

	&__info {
		position: absolute;
		top: 100px;
		left: 50%;
		z-index: 15;
		text-align: center;
		transform: translateX(-50%);

		._overflow {
			overflow: hidden;
		}
	}

	&__video {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
		// width: 100%;
		min-width: 100%;
		// height: 100%;
		min-height: 100%;
		line-height: 1.2;
		transform: translate(-50%, -50%);
	}

	&__title {
		margin: 0;
		color: $color-white;
		font-weight: 100;
		font-size: rem(80px);
		font-family: $main-font-family;
		text-align: center;
		transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;

		span {
			font-weight: 800;
		}

		&._active {
			transform: translateY(-100%);
			opacity: 0;
		}
	}

	&__button {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 300px;
		margin-top: 60px;
		padding: 16px 35px;
		color: $color-white;
		font-weight: 800;
		font-size: 2rem;
		font-family: $main-font-family;
		border: 2px solid $color-white;
		border-radius: 3px;
		cursor: pointer;
		transition: color 0.3s, background-color 0.3s, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.5s ease-in-out;

		.icon-down-arrow {
			width: 40px;
			height: 40px;
			fill: $color-white;
		}

		&._active {
			transform: translateY(-100%);
			visibility: hidden;
			opacity: 0;
		}

		&:hover {
			color: $color-green;
			background-color: $color-white;
		}
	}

	&__again {
		position: absolute;
		bottom: 30px;
		left: 50%;
		z-index: 50;
		width: 200px;
		margin: 0;
		padding-top: 12px;
		padding-bottom: 12px;
		font-size: rem(24px);
		transform: translateX(-50%);
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
		pointer-events: none;

		&:hover {
			color: #cd3408;
		}

		&._active {
			visibility: visible;
			opacity: 1;
			pointer-events: auto;
		}
	}

	@include _1680 {
		&__video {
			width: 100%;
			min-width: 117%;
			min-height: 101%;
		}
	}

	@include _1536 {
		&__video {
			min-width: 101%;
		}

		&__button {
			margin-top: 40px;
		}
	}

	@include _1440 {
		&__video {
			min-width: 113%;
		}

		&__info {
			top: 70px;
		}

		&__title {
			font-size: rem(60px);
		}
	}

	@include _1366 {
		&__video {
			min-width: 100%;
		}
	}

	@include _1280 {
		&__again {
			bottom: 40px;
		}
	}

	@include _1200 {
		&__video {
			width: 153%;
		}

		&__info {
			top: 110px;
		}

		&__again {
			bottom: 18px;
		}
	}

	@include _992 {
		&__video {
			width: 131%;
		}

		&__title {
			font-size: rem(50px);
		}

		&__info {
			top: 90px;
		}

		&__again {
			right: 30px;
			left: auto;
			transform: none;
		}
	}

	@include _940 {
		&__video {
			width: auto;
		}

		&__info {
			top: 150px;
		}
	}

	@include _767 {
		height: auto;
		min-height: 600px;

		&__mobile-img {
			position: relative;
			padding-top: 170px;
		}

		&__video {
			display: none;
		}

		&__info {
			display: none;
		}

		&__texts {
			display: none;
		}
	}
}
