@import "./hero.scss";

.main {
	color: #444;
}

.morgan-title {
	position: absolute;
	z-index: 25;

	h3 {
		margin: 0;
		color: $color-white;
		font-weight: 800;
		font-size: rem(60px);
		font-family: $main-font-family;
		letter-spacing: 2px;
		transform: translateY(-100%);
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

		span {
			font-weight: 100;
		}
	}

	&_first {
		top: 90px;
		left: 50%;
		text-align: center;
		transform: translateX(-50%);

		button {
			margin-top: 35px;
			padding: 20px;
			color: $color-white;
			font-size: rem(35px);
			border: 2px solid $color-white;
			transform: translateY(-100%);
			visibility: hidden;
			cursor: pointer;
			opacity: 0;
			transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

			&:hover {
				color: #f8ca54;
			}
		}

		&._active {
			z-index: 29;

			h3 {
				transform: translateY(0);
				visibility: visible;
				opacity: 1;
			}

			button {
				transform: translateY(0);
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&_third {
		top: 50%;
		left: 140px;
		transform: translateY(-50%);

		h3 {
			transform: translate(-100%, 0);
		}

		button {
			transform: translate(-100%, 0);
			opacity: 0;

			&:hover {
				color: #f8ca54;
			}
		}

		&._active {
			z-index: 29;

			h3 {
				transform: translate(0, 0);
				visibility: visible;
				opacity: 1;
			}

			button {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}

	&_thourth {
		top: 50%;
		left: 140px;
		transform: translateY(-50%);

		h3 {
			transform: translate(-100%, 0);
		}

		button {
			transform: translate(-100%, 0);
			opacity: 0;

			&:hover {
				color: #f8ca54;
			}
		}

		&._active {
			z-index: 29;

			h3 {
				transform: translate(0, 0);
				visibility: visible;
				opacity: 1;
			}

			button {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}

	&_fifth {
		top: 50%;
		right: 110px;
		transform: translateY(-50%);

		h3 {
			font-size: rem(100px);
			transform: translate(170%, 0);
		}

		button {
			transform: translate(170%, 0);
			opacity: 0;

			&:hover {
				color: #f8ca54;
			}
		}

		&._active {
			z-index: 29;

			h3 {
				transform: translate(0, 0);
				visibility: visible;
				opacity: 1;
			}

			button {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}
}

.main-button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	margin-top: 60px;
	padding: 16px 35px;
	color: $color-white;
	font-weight: 800;
	font-size: 2rem;
	font-family: $main-font-family;
	border: 2px solid $color-white;
	border-radius: 3px;
	cursor: pointer;
	transition: color 0.3s, background-color 0.3s, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;

	&:hover {
		color: $color-green;
		background-color: $color-white;
	}
}
