.morgan-title {
	position: absolute;
	z-index: 25;

	h3 {
		margin: 0;
		color: $color-white;
		font-weight: 800;
		font-size: rem(60px);
		font-family: $main-font-family;
		letter-spacing: 2px;
		transform: translateY(-100%);
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

		span {
			font-weight: 100;
		}
	}

	&_first {
		top: 100px;
		left: 50%;
		text-align: center;
		transform: translateX(-50%);
		pointer-events: none;

		button {
			margin-top: 35px;
			padding: 20px;
			color: $color-white;
			font-size: rem(35px);
			border: 2px solid $color-white;
			transform: translateY(-100%);
			visibility: hidden;
			cursor: pointer;
			opacity: 0;
			transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;

			&:hover {
				color: #f8ca54;
			}
		}

		&._active {
			z-index: 29;
			pointer-events: auto;

			h3 {
				transform: translateY(0);
				visibility: visible;
				opacity: 1;
			}

			button {
				transform: translateY(0);
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&_third {
		top: 50%;
		left: 140px;
		transform: translateY(-50%);
		pointer-events: none;

		h3 {
			transform: translate(-100%, 0);
		}

		button {
			transform: translate(-100%, 0);
			opacity: 0;

			&:hover {
				color: #f8ca54;
			}
		}

		&._active {
			z-index: 29;
			pointer-events: auto;

			h3 {
				transform: translate(0, 0);
				visibility: visible;
				opacity: 1;
			}

			button {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}

	&_thourth {
		top: 50%;
		left: 140px;
		transform: translateY(-50%);
		pointer-events: none;

		h3 {
			transform: translate(-100%, 0);
		}

		button {
			transform: translate(-100%, 0);
			opacity: 0;

			&:hover {
				color: #f8ca54;
			}
		}

		&._active {
			z-index: 29;
			pointer-events: auto;

			h3 {
				transform: translate(0, 0);
				visibility: visible;
				opacity: 1;
			}

			button {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}

	&_fifth {
		top: 50%;
		right: 110px;
		transform: translateY(-50%);
		pointer-events: none;

		h3 {
			font-size: rem(100px);
			transform: translate(170%, 0);
		}

		button {
			transform: translate(170%, 0);
			opacity: 0;

			&:hover {
				color: #f8ca54;
			}
		}

		&._active {
			z-index: 29;
			pointer-events: auto;

			h3 {
				transform: translate(0, 0);
				visibility: visible;
				opacity: 1;
			}

			button {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
	}

	@include _1536 {
		&_third {
			left: 80px;
		}

		&_thourth {
			left: 80px;
		}

		&_fifth {
			right: 80px;

			h3 {
				font-size: rem(80px);
			}
		}
	}

	@include _1440 {
		&_first {
			top: 70px;

			h3 {
				font-size: rem(50px);
			}
		}

		&_third {
			h3 {
				font-size: rem(50px);
			}
		}

		&_thourth {
			h3 {
				font-size: rem(50px);
			}
		}

		&_fifth {
			h3 {
				font-size: rem(70px);
			}
		}
	}

	@include _1366 {
		&_first {
			button {
				width: 260px;
				padding-top: 15px;
				padding-bottom: 15px;
				font-size: rem(28px);
			}
		}

		&_third {
			button {
				width: 260px;
				padding-top: 15px;
				padding-bottom: 15px;
				font-size: rem(28px);
			}
		}

		&_thourth {
			button {
				width: 260px;
				padding-top: 15px;
				padding-bottom: 15px;
				font-size: rem(28px);
			}
		}

		&_fifth {
			button {
				width: 260px;
				padding-top: 15px;
				padding-bottom: 15px;
				font-size: rem(28px);
			}
		}
	}

	@include _1200 {
		&_first {
			top: 85px;
		}

		&_third {
			left: 40px;

			button {
				margin-top: rem(40px);
			}
		}

		&_thourth {
			left: 30px;

			button {
				margin-top: rem(40px);
			}
		}

		&_fifth {
			right: 50px;

			h3 {
				font-size: rem(60px);
			}
		}
	}

	@include _992 {
		&_first {
			margin-right: -50%;

			h3 {
				font-size: rem(40px);
			}
		}

		&_third {
			h3 {
				font-size: rem(40px);
			}

			button {
				width: 240px;
				font-size: rem(24px);
			}
		}

		&_thourth {
			h3 {
				font-size: rem(40px);
			}

			button {
				width: 240px;
				font-size: rem(24px);
			}
		}

		&_fifth {
			h3 {
				font-size: rem(50px);
			}

			button {
				width: 240px;
				margin-top: 40px;
				font-size: rem(24px);
			}
		}
	}

	@include _940 {
		&_first {
			top: 165px;
		}
	}
}
