.footer {
	background-color: $color-white;

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 0;
	}

	&__text {
		margin: 0;
		font-size: rem(22px);
		line-height: 1.4;
		text-transform: uppercase;
	}

	.icon-wraning {
		width: 40px;
		height: 40px;
		margin-left: 15px;
	}
}
