section.morgan-hero
	.morgan-hero__info
		h1.morgan-hero__title
			span
				|	Только свежий
				br
			|	и чистый тросник
		button.button_reset.morgan-hero__button
			|	Начать
	video(class="morgan-hero__video", src="video.mp4", playsinline, muted)
