main.page-main.main
	include modal.pug
	include menu.pug
	include hero.pug
	.page-main__links
		a(class="inst-link", href="#", aria-label="Наш инстаграмм")
			+icon("instagram")
		a(class="policy", href="#")
			|	Политика конфиденциальности
