footer.footer
	.site-container
		.footer__container
			p.footer__text
				|	ЧРЕЗМЕРНОЕ ПОТРЕБЛЕНИЕ АЛКОГОЛЯ ВРЕДИТ ВАШЕМУ ЗДОРОВЬЮ
			+icon("wraning")
			.page-main__links.footer__links
				a(class="inst-link", href="#", aria-label="Наш инстаграмм")
					+icon("instagram")
				a(class="policy", href="#")
					|	Политика конфиденциальности
