header.header
	button(class="header__burger button_reset", aria-label="Продукты")
		+icon("wine")
		span.header__burger-name
			span.header__burger-small-name._show
				|	Продукция
			span.header__burger-small-name._hide
				| Закрыть
	.header__logo
		img(class="logo", src="./img/logo-white.png", alt="Логотип")
