// Typography
$main-font-family: "FiraSans", sans-serif;
$second-font-family: "FiraSans", sans-serif;

// colors
$main-color: #333;
$main-bg-color: #fff;
$color-dark: #333;
$color-white: #fff;
$color-green: #a2db7a;
